.top-header-container {
    font-size: .5em;
    text-align: center;
    padding: .5em 1em .5em 1em;
    border-radius: 4rem;
    height: -moz-fit-content;
    height: fit-content;
}

.top-header {
    border-radius: 10em;
    background: #313131;
    font-size: 1.5em;
    width: fit-content;
    margin: auto;
    margin-bottom: 1em;
    padding: .2em 1em;
}

.top-artist-header {
    color: #b48dff;
    float: left;
}

.top-track-header {
    color: #def975;
    float: right
}

.genre-header {
    color: #ddf1ff;
    float: right
}

@media only screen and (max-width: 600px) {
    .top-track-header,
    .top-artist-header,
    .genre-header {
        float: none;
        /* font-size: 3em; */
    }
}