.single-content-view {
    display: flex;
    margin: 0 auto;
}

.details-single {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.5em;
    animation: appear-in-right 3s;
}

.details-artist {
    animation: appear-in-left 3s;
}

@media only screen and (max-width: 600px) {
    .single-content-view {
        display: block;
    }
    .details-single {
        padding: 1em 0;
    }
}