.artist-container {
    padding: 1em;
    padding-bottom: 5em;
    min-height: 100%;
    background: #131212;
}
  .artists {
    margin: 0 auto;
    height: 100%;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }
  .artist {
    display: inline-block;
    background-color: #0000004f;
    border-radius: .35rem;
    margin: 1.2rem;
    width: 20em;
    align-items: center;
    display: inline-flex;
  }
  .artist-label {
    background: #bea1a1;
    height: 2.7rem;
    line-height: 2.5rem;
    left: 1.5rem;
    top: .5rem;
    position: relative;
  }
  .artist-label h4 {
    font-size: .9rem;
    background: #5256d8;
    line-height: 2.5rem;
    left: .2rem;
    top: .2rem;
    position: relative;
    animation: slideIn 1.5s;
  }
  
  .artist-circle {
    width: 9.38rem;
    height: 9.38rem;
    border-radius: 50%;
    border: 1.2px solid;
    display: inline-block;
  }
  @keyframes slideIn {
    from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
  }
  
}

@media only screen and (max-width: 600px) {
.artists {
  column-count: 1;
}
}