.genre-bar {
    text-align: right;
    margin: .5em 0;
    animation: appear-in-left 3s;
}

.genre-fill {
    padding: .5em .5em .5em 1em;
    width: var(--fill);
    background-color: #ddf1ff;
    margin: auto;
    margin-right: 0;
    color: #313131;
    text-transform: capitalize;
    display: inline-block;
}

.genre-percent {
    display: inline-block;
    margin-right: .5em;
    color: #ddf1ff;
    font-size: 1.5em;
    text-align: left;
    vertical-align: middle;
}

@media only screen and (max-width: 600px) {
    .genre-fill {
        padding: .5em .5em .5em 1em;
        width: 80%;
        display: inline-block;
        text-align: left;
        font-size:.8em;
    }
    .genre-bar {
        font-size: .8em
    }
}