.genre-view {
    text-align: left;
    min-height: 100vh;
    max-height: fit-content;
    padding: 3em 0 0 3em;
    background-color: #353548;
}
.genre-header-text {
    color: #dde9ffe8;
    font-style: italic;
}
.genre-content {
    color: #ffffff;
    font-size: 3em;
}
.genre-text {
    padding-bottom:1rem
}
.genre-text:first-child {
    color: #d27d8d;
    animation-name: slideIn1;
    /* animation-iteration-count: infinite; */
    animation-duration: 3s;
}
.genre-text:nth-child(2) {
    color: #527cdc;
    animation-name: slideIn2;
    /* animation-iteration-count: infinite; */
    animation-duration: 3s;
}
.genre-text:nth-child(3) {
    color: #9dd0a1;
    animation-name: slideIn3;
    /* animation-iteration-count: infinite; */
    animation-duration: 3s;
}

@keyframes slideIn1 {
    100%  {color:#d27d8d; margin-left: 0rem;}
    0% {color:white; margin: 2rem 0 0 7rem;}
}
@keyframes slideIn2 {
    100%  {color:#527cdc; margin-left: 0rem;}
    0% {color:white; margin: 2rem 0 0 8rem;}
}
@keyframes slideIn3 {
    100%  {color:#9dd0a1; margin-left: 0rem;}
    0% {color:white;  margin: 1rem 0 0 9rem;}
}