/* .header {
    padding-top:2rem;
}
.title {
    font-size: 5rem;
    margin-bottom:1rem;
}
.preview-img-container {
    margin:2rem
}
.preview-img {
    width: 6rem;
    height: 6rem;
    overflow: hidden;
  }
  .preview-img img {
    width: 6rem;
  }
  
  .circle {
    width: 9.38rem;
    height: 9.38rem;
    border-radius: 50%;
    margin-bottom: 1.25rem;
    border: 2px solid;
    margin: 0 auto;
  }
  .artist-overlay {
    display: none;
  }
  .circle:hover .artist-overlay{
    background: #00000073;
    width: 9.38rem;
    height: 9.38rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    display: inline-block;
    line-height: 9.38rem;
    font-weight: bold;
    text-transform: capitalize;
  }  */