.leaderboard {
  margin: 3rem;
}
.leaderboard h1 {
  text-transform: uppercase;
}
.top-template {
  width: 50%;
  padding: 8px;
  margin-top: 20px;
  display: inline-grid;
}
.top-template-header{
  text-align: center;
  padding: .5rem;
  background: #1ecd97;
  margin: 1rem;
  border-radius: 2rem;
}
.top-template-header h1 {
  font-size: 1em;
  text-transform: none;
}
.left {
  margin-left: 20px; 
}
.right {
  margin-right: 20px;
}
.top-template-container {
  display: inline-grid;
  padding: 10px;
  background: #181a1d;
}
.top-template-entry {
  display: inline-flex;
  background: #5f5f5f38;
  margin: 5px;
  border-left-style: ridge;
  text-align: left;
  font-size: .5em;
  height: 5rem;
}
.top-template-details {
  padding: .3rem;
  padding-left: .7rem;
  line-height: 1rem;
  width: 18rem;
}
.top-template-entry .rank {
  font-size: 1.8em;
  padding: rem;
  width: 4rem;
  text-align: center;
  line-height: 5rem;
}
.top-template-entry h5 {
  font-size: 10px;
  font-style: italic;
  color: #b0b6cae0;
}
.top-template-entry label {
  font-size: 10px;
  font-weight: 600;
  color: #dde2ef;
}
.preview-img {
  width: 5rem;
  height: 5rem;
  overflow: hidden;
}
.preview-img img {
  width: 5rem;
}

.artists {
  display: inline-flex;
  margin: 0 auto;
}
.artists-left {
  padding-right: 1.5rem;
}
.artists-right {
  padding-left: 1.5rem;
  margin-top: 50px
}

.circle {
  width: 9.38rem;
  height: 9.38rem;
  border-radius: 50%;
  margin-bottom: 1.25rem;
}
.artist-overlay {
  display: none;
  background: #1ecd97a6;
}
.circle:hover .artist-overlay{
  background: #00000073;
  width: 9.38rem;
  height: 9.38rem;
  border-radius: 50%;
  margin-bottom: 1rem;
  display: inline-block;
  line-height: 160px;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 15px;
}





