.leaderboard {
  margin: 1em 1em 0 1em;
}

.top-template {
  width: 50%;
  padding: .9rem;
  margin-top: 20px;
  display: inline-grid;
}
.top-template-container {
  display: inline-grid;
  padding: 1rem;
  background: #181a1d;
}
.top-template-header{
  text-align: center;
  padding: .5rem;
  background: #1ecd97;
  margin: 1rem;
  border-radius: 2rem;
  font-size: 1rem;
}

.left {
  margin-left: 1.5rem; 
}
.right {
  margin-right: 1.5rem;
}

.top-template-entry {
  display: inline-flex;
  background: #5f5f5f38;
  margin: 5px;
  border-left-style: ridge;
  text-align: left;
  font-size: 17px;
  height: 5rem;
  line-height: 5rem;
}
.top-template-entry .rank {
  min-width: 10%;
  text-align: center;
}
.top-template-details {
  padding: .3em;
  padding-left: .7em;
  line-height: 1rem;
  height: 1.2em;
}

.top-template-entry h5 {
  font-style: italic;
  color: #b0b6cae0;
}
.top-template-entry label {
  font-size: .8em;
  font-weight: 600;
  color: #dde2ef;
}
.preview-img {
  width: 5rem;
  height: 5rem;
  overflow: hidden;
}
.preview-img img {
  width: 5rem;
}

.artists {
  display: inline-flex;
  margin: 0 auto;
}
.artists-left {
  padding-right: 1.6em;
}
.artists-right {
  padding-left: 1.6em;
  margin-top: 50px
}

.circle {
  width: 9.38rem;
  height: 9.38rem;
  border-radius: 50%;
  margin-bottom: 1.25rem;
  border: 2px solid;
}
.artist-overlay {
  display: none;
}
.circle:hover .artist-overlay{
  background: #00000073;
  width: 9.38rem;
  height: 9.38rem;
  border-radius: 50%;
  margin-bottom: 1rem;
  display: inline-block;
  line-height: 9.38rem;
  font-weight: bold;
  text-transform: capitalize;
}