.trackview-container {
  text-align: center;
  background-color: #000000;
  min-height: 100vh;
  max-height: fit-content;
}
.time-container h1{
    font-size: 10em
}

.time-view {
    background: #923b9c;
    color: #def975;
    min-height: 100vh;
    max-height: fit-content;
    min-width: fit-content;
    overflow-wrap: break-word;
    display: flex;
    align-items: center;
}

.time-text {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.header-text {
    text-align: left;
}

.footer-text {
    text-align: right;
}
