.trackview-container {
    text-align: center;
  background-color: #000000;
  height:100vh;
}
.time-container {
    font-size: 10rem
}

.time-view {
    background: #923b9c;
    color: #def975;
    height: 100vh;
    display: flex;
    align-items: center;
}

.time-text {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.header-text {
    text-align: left;
}

.footer-text {
    text-align: right;
}
