  .track-container {
    display: inline-grid;
    padding: 1rem;
    width: 90%;
    height:100%;
  }
  .track-header{
    text-align: center;
    padding: .5rem 1.5rem .5rem 1.5rem;
    border-radius: 4rem;
    font-size: 1.5rem;
    border: 0.1em solid #1ecd97;
    background: #181a1d;
    height:fit-content;
  }
  @keyframes slideIn {
    100%  {width:100%;white-space: nowrap;}
    0% {width:0;white-space: nowrap;}
}
.entry-container {
    display: inline-grid;
    height: 100%;
}
  .track-entry {
    display: inline-flex;
    background: #1d1f23;
    margin: .3rem;
    border-left-style: ridge;
    text-align: left;
    font-size: 20px;
    line-height: 6rem;
    animation: slideIn 3s;
    overflow: hidden;
    height: 6rem;
  }
  .track-entry .rank {
    width: 7%;
    min-width: 50px;
    text-align: center;
  }
  .track-details {
    padding: .5em;
    padding-left: .7em;
    line-height: 1.2rem;
    height: 1.2em;
  }
  .track-entry h5 {
    font-style: italic;
    color: #b0b6cae0;
  }
  .track-entry label {
    font-size: .8em;
    font-weight: 600;
    color: #dde2ef;
  }
  .preview-img {
    width: 6rem;
    height: 6rem;
    overflow: hidden;
  }
  .preview-img img {
    width: 6rem;
  }
  .track-scroll {
    margin-top: .5rem;
  }