html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.App {
  text-align: center;
  background-color: #000000;
  height: 100vh;
  min-width: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 5em;
  color: #1ecd97;
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 0;
  display: inline-block;
}

.title-detail {
  font-size: 1em;
  color: #923b9c
}

.description {
  font-size: .3em;
  color: #def975;
  text-align: right;

}


body {
  color: #eee;
  font-family: Helvetica, Arial;
  font-size: 3vmin;
}

.user-title {
  text-align: right;
  padding: .5em;
  font-size: .2em;
}

.app-container {
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 1em;
  padding-bottom: 5em;
  min-height: 100%;
  background: #131212;
}

.entry-container {
  display: inline-grid;
  height: 100%;
  width: 80%;
}

.display-options {
  margin-bottom: 2em;
  text-align: center;
  font-size: .8em;
  text-emphasis: none;
}

.display-options a {
  color: white;
  margin: 1em;
  text-decoration: none;
  font-size: .8em;
  font-family: monospace;
}

.display-options a:hover {
  text-decoration: underline;
}


@keyframes appear-in-right {
  from {
    clip-path: inset(0 100% 0 0);
  }

  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes appear-in-left {
  from {
    clip-path: inset(0 0 0 100%);
  }

  to {
    clip-path: inset(0 0 0 0);
  }
}